.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

select, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

h2, p {
  color:yellow;
}
